@use '../_global.sass'

#description-block
    width: 70%
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 20px

#d-b-col-1
    #d-b-title
        font-size: global.$font-medium
    
    p
        font-size: global.$font-small
