@use '../_global.sass'
@use '../_arrow-btn.sass'

#events
    width: 80%
    margin: 0 auto
    padding-bottom: 150px
    
#events-title
    font-size: global.$font-large
    margin-bottom: 40px

#events-grid
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 50px

.events-card
    display: grid
    grid-template-columns: 1fr 1fr
    place-items: center
    gap: 30px

.e-c-date
    font-size: global.$font-medium

.bottom-btn
    top: 75px